<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Title</title>
    <style>

        .home-links{
            margin-top: 3vh;
            border-top: 1px solid darkblue;
            border-bottom: 1px solid darkblue;
        }

        .home-links a{
            display: inline-block;
            padding-right: 5vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }

        .home-links a:nth-child(1){
            padding-left: 5vw;
        }

        .filter-card{
            margin-top: 5vh;
            border-right: 1px solid darkblue;
        }
        .gallery-card{
            margin-top: 2vh;
        }

        .results-card-a{
            color: inherit;
        }
        .result-card{
            width: 45%;
            padding: 1vw;
            margin-top: 3vh;
            margin-left: 4vh;
            display: inline-block;
            background-color: #cdd7f3;
            box-shadow: 1px 1px 2px #090017

        }
        .result-card h4{
            padding-bottom: 2vh;
            text-align: center;
        }

        .car-details-data-col-left{
            display: inline-block;
            padding-left: 5vw;
        }

        .car-details-data-col-right{
            display: inline-block;
            padding-left: 10vw;
        }

        .car-details-data-col h5{
            padding-top: 2vh;
            text-decoration: underline;
        }

        .car-details-below-links{
            width: 45%;
            margin-left: 4vh;
            padding: 3vw;
            text-align: center;
            border-bottom: 1px solid darkblue;
        }

        .car-details-below-links a{
            padding-left: 4vw;
            padding-right: 5vw;
        }



    </style>
</head>
<body>